<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.howell.alfred.evernote-link-snippet</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3433A37D-5FFC-4B57-B1A1-003546E088FF</key>
		<array/>
		<key>628C7D84-2335-468D-AADB-831E361B1F95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9809C525-D023-41E7-ACBA-45509A2C9496</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9809C525-D023-41E7-ACBA-45509A2C9496</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3463C29A-4C68-4B87-9402-4E98C743D7A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6D21E73-066B-40F4-8414-ACB52B9EB8B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35EC1E3E-3B24-4824-9AEF-B489E7B1DE02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Howell</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Evernote Wiki Link</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];

  var results = Application("Evernote").findNotes(`intitle:${query}`);
  return JSON.stringify({
    variables: {
      title: "",
      url: ""
    },
    items: results.map(note =&gt; {
      let title = note.title();
    let url = note.noteLink();
      return {
        uid: note.guid(),
        title: title,
        arg: url,
        variables: {
          title: title,
          url: url
        }
      }
    })
  });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Evernote Titles</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9809C525-D023-41E7-ACBA-45509A2C9496</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:title} {var:url}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3463C29A-4C68-4B87-9402-4E98C743D7A3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>en</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>628C7D84-2335-468D-AADB-831E361B1F95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>stopped</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>35EC1E3E-3B24-4824-9AEF-B489E7B1DE02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n '[[WikiLink]]'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3433A37D-5FFC-4B57-B1A1-003546E088FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{focusedapp}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.evernote.Evernote</string>
						<key>outputlabel</key>
						<string>Continue</string>
						<key>uid</key>
						<string>B52B24D4-8354-44C3-A7C7-15D77FB5283C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Stop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B6D21E73-066B-40F4-8414-ACB52B9EB8B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3433A37D-5FFC-4B57-B1A1-003546E088FF</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>3463C29A-4C68-4B87-9402-4E98C743D7A3</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>35EC1E3E-3B24-4824-9AEF-B489E7B1DE02</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>628C7D84-2335-468D-AADB-831E361B1F95</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Can I make this trigger an Alfred interaction by just typing [[ like in Bear?</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>9809C525-D023-41E7-ACBA-45509A2C9496</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B6D21E73-066B-40F4-8414-ACB52B9EB8B0</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>TODO How do I get this to block the snippet unless used in Evernote?</string>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
